body {
  text-align:center;
  background-color: pink;
    font-size: 35px;
}
img{
  border-style:solid;
    border-color:#212121;
    border:1px;
   border-radius:50px;
   padding:5px;
    width:250px;
}

.sp,.di
{
  margin:20px;
  
}

.container
{
    text-align: center;
}

#myCarousel{
    background-color: pink;
    
}
#myCarousel img{
    height: 300px;
    margin-top: 35px;
    

}
#myCarousel2 img{
    height: 300px;
    margin-top: 35px;
    
}

.links:hover {
    background-color:dodgerblue;
}
.act:hover {
    color: chocolate;

}
html{
    scroll-behavior: smooth;
    
}
img{
    transition:transform .2s;
    border: 10px solid;
    
}
img:hover{
    transform: scale(0.9)
}